/* HOME PAGE */

/* HERO SECTION STYLING */
#hero-section {
    background: url(./assets/bg-ball.png) no-repeat center top;
    background-size: contain;
    height: 524px;
    padding: 60px 8px;
}

#hero-container {
    color: #FFFFFF;
    gap: 12px;
    width: 426px;
    max-width: 426px;
    height: 404px;
    padding: 60px 0px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#hero-container p {
    font-family: 'Allura';
    font-size: 24px;
    margin: 0;
}

#hero-container h1,
button {
    line-height: 150%;
    letter-spacing: 0.18em;
}

#hero-container h1 {
    font-size: 30px;
    margin: 7px;
}

.explore-btn {
    font-family: 'Montserrat';
    padding: 20px 10px;
    width: 240px;
    height: 56px;
    background: #181C29;
    border: none;
    color: #FFFFFF;
    font-size: 11px;
    cursor: pointer;
    line-height: 150%;
    letter-spacing: 0.18em;
    transition: background-color 0.3s ease;
}

.explore-btn:hover {
    background-color: #FFFFFF;
    color: #181C29;
}

/* ABOUT SECTION */
#about {
    height: 648px;
}

#about-container {
    background: #FFFFFF;
    margin: 10px auto;
    padding: 0px;
    height: 528px;
    width: 90%;
    border-radius: 20px;
}

#about-container div {
    justify-content: center;
    align-items: flex-start !important;
    padding: 0px 2.5em;
    width: 48%;
    line-height: 150%;
}

#about-container div h2 {
    font-family: 'Allura';
    font-size: 28px;
    margin: 0;
}

#about-container div p:nth-child(2) {
    font-size: 24px;
    letter-spacing: 0.18em;
    line-height: 152%;
}

#about-container div p:last-child {
    font-size: 16px;
}

#about-img {
    background: url(./assets/santa.png) no-repeat center center;
    background-size: cover;
    width: 50% !important;
    height: 100%;
}

/* SLIDER SECTION */
#slider,
#best-gift {
    padding: 28px 8px;
    width: 100%;
}

#slider-container,
#best-gift-container {
    color: #FFFFFF;
    padding: 0px;
    gap: 20px;
    width: 90%;
    height: auto;
}

#slider-title p,
#best-gift-title p,
#cta #cta-timer p {
    font-family: 'Allura';
    margin: 14px;
    font-size: 28px;
}

#slider-title h2,
#best-gift-title h2 {
    font-size: 28px;
    margin: 0;
}

#row {
    justify-content: flex-start;
    padding: 0px;
    height: 200px;
    width: 100%;
}

#row-slider {
    justify-content: flex-start;
}

.slider-img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
}

.slider-text {
    left: 10px;
    font-size: 16px;
    font-size: 80px;
    line-height: 98px;
    padding: 18px;
}

.one {
    background-image: url('./assets/snowman.png');
}

.two {
    background-image: url('./assets/christmas-trees.png');
}

.three {
    background-image: url('./assets/christmas-tree-ball.png');
}

.four {
    background-image: url('./assets/fairytale-house.png');
}

#slider-buttons {
    justify-content: flex-end;
    padding: 0px;
    margin: 20px;
    gap: 20px;
    width: 100%;
    flex: none;
}

.slider-button {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 26px;
    width: 56px;
    height: 56px;
    border-radius: 20px;
    cursor: pointer;
}

.slider-button:disabled {
    background-color: transparent;
    border: 1px solid #ffffff3a;
    color: #ffffff3a;
    cursor: not-allowed;
}

.slider-button:hover {
    background-color: #ffffff6e;
}

/* CTA SECTION STYLING */
#cta {
    background: url(./assets/bg-forest.png) no-repeat center bottom;
    background-size: contain;
    padding: 60px 8px;
    height: 700px;
    margin: 0 auto 0 auto;
}

#cta-container {
    justify-content: center;
    padding: 60px 0px;
    margin: 80px auto 0 auto;
    gap: 20px;
    max-width: 426px;
    height: 428px;
}

#cta-container>h2 {
    line-height: 152%;
    letter-spacing: 0.16em;
}

#cta-timer {
    padding: 0px;
    width: 100%;
}

#cta-timer p {
    font-size: 24px;
}

#timer {
    justify-content: space-around;
    font-size: 12px;
    padding: 8px 12px;
    width: 100%;
    height: 72px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    width: 344px;
}

.hidden {
    display: none;
}

.separator {
    width: 30px;
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    transform: rotate(-90deg);
}


/* MEDIA SCREENS */

@media screen and (max-width: 768px) {
    #hero-section {
        background-size: cover;
    }

    #about {
        height: auto;
    }

    #about-container {
        width: 95%;
    }

    #about-container div p:nth-child(2) {
        font-size: 22px;
    }

    #about-container div p:last-child {
        font-size: 16px;
    }

    .slider-text {
        font-size: 50px;
    }
}

@media screen and (max-width: 500px) {
    #hero-container h1 {
        font-size: 28px;
    }

    #about-container div {
        padding: 0px 1em;
    }

    #about-container div p:nth-child(2) {
        font-size: 18px;
    }

    #about-container div p:last-child {
        font-size: 14px;
    }

    #best-gift-title h2 {
        font-size: 24px;
    }
}

@media screen and (max-width: 380px) {
    #hero-section {
        background-size: cover;
    }

    #hero-container h1 {
        font-size: 24px;
    }

    #about {
        height: auto;
    }

    #about-container {
        flex-direction: column;
        height: 880px;
    }

    #about-container div {
        padding: 20px;
        width: 100%;
        height: 45%;
    }

    #about-container div p:nth-child(2) {
        font-size: 20px;
    }

    #about-img {
        width: 100% !important;
        height: 55% !important;
    }

    .slider-text {
        font-size: 50px;
    }

    #best-gift-title h2 {
        font-size: 22px;
    }
}