@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Allura&family=Buda:wght@300&family=Fondamento:ital@0;1&family=Fugaz+One&family=Gideon+Roman&family=Lexend:wght@100..900&family=Pattaya&family=Quando&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Allura&family=Buda:wght@300&family=Fondamento:ital@0;1&family=Fugaz+One&family=Gideon+Roman&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pattaya&family=Quando&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #FFFFFF;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/* HEADER / MENU STYLING */
header {
    background-color: #FFFFFF; 
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0px 8px;
    
}

#logoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 20px;
    gap: 8px;
    height: 40px;
    border-radius: 12px;
    cursor: pointer;
}

#logoLink {
    text-decoration: none;
    color: inherit; 
    display: block; 
}

#logo {
    height: 24px;
    width: 24px;
}

#logoContainer p {
    text-transform: uppercase;
    color: #181C29;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.05em;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 12px 20px;
    height: 40px;
}

#menu a {
    color: #181C29;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 12px 20px;
    margin: 0px 5px;
    border-radius: 12px;
    text-decoration: none;
    text-align: center;
}

#menu a:hover {
    color: #FF4646;
    background-color: #ff46461b;
}

/* MAIN */
main {
    background: url(./assets/bg-snow.png), #FF4646;
    border-radius: 20px 20px 0px 0px;
}

/* HERO SECTION STYLING */
#heroSection {
    background: url(./assets/bg-ball.png) no-repeat center top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 524px;
    padding: 60px 8px;
}

#heroContainer {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0px;
    gap: 12px;
    width: 426px;
    max-width: 426px;
    height: 404px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#heroContainer p {
    font-family: 'Allura';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.05em;
    margin: 3px;
}

#heroContainer h1, button {
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.18em;
    text-transform: uppercase;
}

#heroContainer h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    margin: 7px;
}

#heroContainer button {
    padding: 20px 10px;
    width: 260px;
    height: 56px;
    background: #181C29;
    border-radius: 20px;
    border: none;
    color: #FFFFFF;
    font-size: 12px;
}

/* ABOUT SECTION */
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 8px 10px 8px;
    height: 648px;
}

#aboutContainer {
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
    padding: 0px;
    height: 528px;
    width: 80%;
    border-radius: 20px;
}

#aboutContainer div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 60px;
    width: 30%;    
}

#aboutContainer div>p:first-child {
    color: #FF4646;
    font-family: 'Allura';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0.05em;
}

#aboutContainer div > p:nth-child(2) {
    color: #181C29;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 152%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
}

#aboutContainer div > p:last-child {
    color: #181C29;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 148%;
}

#aboutImg {
    background: url(./assets/santa.png) no-repeat center center; 
    background-size: cover;
    border-radius: 20px;
    flex: 0 0 40%;
    height: 100%;
}

/* SLIDER SECTION */
#slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 8px;
    height: 488px;
}

#sliderContainer {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 80%;
    height: 368px;
}

#sliderContainer div:first-child {
    text-align: center;
}

#sliderContainer div:first-child > p {
    font-family: 'Allura';
    font-size: 24px;
    letter-spacing: 0.05em;
    margin: 5px;
}

#sliderContainer div:first-child > h2 {
    font-family: 'Montserrat';
    font-size: 32px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    margin: 5px;
}