@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Allura&family=Buda:wght@300&family=Fondamento:ital@0;1&family=Fugaz+One&family=Gideon+Roman&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pattaya&family=Quando&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #FFFFFF;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* UTILITY CLASSES */
.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-primary {
    color: #FF4646;
}

.text-secondary {
    color: #181C29;
}

.text-white {
    color: #FFFFFF;
}

.text-bold {
    font-weight: 600;
}

.text-normal {
    font-weight: 400;
}

/* HEADER / MENU STYLING */
header {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0px 8px;
}

#logo-container {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 20px;
    height: 40px;
    border-radius: 12px;
    cursor: pointer;
}

#logo {
    height: 24px;
    width: 24px;
}

#logo-container p {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.05em;
}

#menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 12px 20px;
    height: 40px;
}

#menu a {
    color: #181C29;
    font-size: 16px;
    padding: 12px 20px;
    margin: 0px 5px;
    border-radius: 12px;
    text-decoration: none;
    text-align: center;
}

#menu a:hover {
    color: #FF4646;
    background-color: #ff46461b;
}

/* MAIN */
main {
    background: url(./assets/bg-snow.png), #FF4646;
    border-radius: 20px 20px 0px 0px;
}

/* HERO SECTION STYLING */
#hero-section {
    background: url(./assets/bg-ball.png) no-repeat center top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 524px;
    padding: 60px 8px;
}

#hero-container {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0px;
    gap: 12px;
    width: 426px;
    max-width: 426px;
    height: 404px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#hero-container p {
    font-family: 'Allura';
    font-size: 32px;
}

#hero-container h1,
button {
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.18em;
    text-transform: uppercase;
}

#hero-container h1 {
    font-weight: 600;
    font-size: 30px;
    margin: 7px;
}

#hero-container button {
    padding: 20px 10px;
    width: 260px;
    height: 56px;
    background: #181C29;
    border-radius: 20px;
    border: none;
    color: #FFFFFF;
    font-size: 12px;
}

/* ABOUT SECTION */
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 8px 10px 8px;
    height: 648px;
}

#about-container {
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    padding: 0px;
    height: 528px;
    width: 80%;
    border-radius: 20px;
}

#about-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 60px;
    width: 30%;
}

#about-container div p:first-child {
    color: #FF4646;
    font-family: 'Allura';
    font-size: 32px;
}

#about-container div p:nth-child(2) {
    font-weight: 600;
    font-size: 24px;
}

#about-container div p:last-child {
    font-weight: 400;
    font-size: 16px;
}

#about-img {
    background: url(./assets/santa.png) no-repeat center center;
    background-size: cover;
    border-radius: 20px;
    flex: 0 0 40%;
    height: 100%;
}

/* SLIDER SECTION */
#slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 8px;
    width: 100%;
}

#slider-container {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 80%;
    height: 500px;
}

#slider-title p {
    font-family: 'Allura';
    margin-bottom: 8px;
    font-size: 28px;
}

#slider-title h2 {
    font-size: 32px;
    margin: 10px;
}

#row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    height: 200px;
    margin-top: 30px;
    /* width: 100%; */
}

.slider-img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
}

.slider-text {
    left: 10px;
    font-weight: 600;
    font-size: 16px;
    font-size: 80px;
    line-height: 98px;
    padding: 18px;
}

.one {
    background-image: url('./assets/snowman.png');
}

.two {
    background-image: url('./assets/christmas-trees.png');
}

.three {
    background-image: url('./assets/christmas-tree-ball.png');
}