@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Allura&family=Buda:wght@300&family=Fondamento:ital@0;1&family=Fugaz+One&family=Gideon+Roman&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pattaya&family=Quando&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* UTILITY CLASSES */
.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-primary {
    color: #FF4646;
}

.text-secondary {
    color: #181C29;
}

.text-white {
    color: #FFFFFF;
}

.text-blue {
    color: #4361FF;
}

.text-green {
    color: #06A44F;
}

.text-pink {
    color: #FF43F7;
}

.text-bold {
    font-weight: 600;
}

.text-normal {
    font-weight: 400;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.rounded {
    border-radius: 20px;
}

.container {
    width: 90%;
    margin: auto;
}

/* HEADER - MENU STYLING */
header {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0px 8px;
}

#logo-container {
    gap: 8px;
    padding: 8px 20px;
    height: 40px;
    cursor: pointer;
}

#logo {
    height: 24px;
    width: 24px;
}

#logo-container p {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.05em;
}

#menu {
    padding: 12px 20px;
    height: 40px;
}

#menu a {
    color: #181C29;
    font-size: 16px;
    padding: 12px 20px;
    margin: 0px 5px;
    border-radius: 12px;
    text-decoration: none;
    text-align: center;
}

#menu a:hover {
    color: #FF4646;
    background-color: #ff46461b;
}

/* MAIN */
main {
    background: url(./assets/bg-snow.png), #FF4646;
    border-radius: 20px;
}

/* HERO SECTION STYLING */
#hero-section {
    background: url(./assets/bg-ball.png) no-repeat center top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    padding: 60px 8px;
}

#hero-container {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 426px;
    max-width: 426px;
    height: 404px;
    margin-top: 100px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#hero-container p {
    font-family: 'Allura';
    font-size: 32px;
}

#hero-container h1,
button {
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.18em;
    text-transform: uppercase;
}

#hero-container h1 {
    font-weight: 600;
    font-size: 30px;
    margin: 7px;
}

#hero-container button,
#cta-container button {
    padding: 20px 10px;
    width: 260px;
    height: 56px;
    background: #181C29;
    border-radius: 20px;
    border: none;
    color: #FFFFFF;
    font-size: 12px;
}

/* ABOUT SECTION */
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 648px;
}

#about-container {
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    padding: 0px;
    height: 528px;
    width: 90%;
    border-radius: 20px;
}

#about-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 60px;
    width: 50%;
}

#about-container div p:first-child {
    color: #FF4646;
    font-family: 'Allura';
    font-size: 32px;
}

#about-container div p:nth-child(2) {
    font-weight: 600;
    font-size: 24px;
}

#about-container div p:last-child {
    font-weight: 400;
    font-size: 16px;
}

#about-img {
    background: url(./assets/santa.png) no-repeat center center;
    background-size: cover;
    border-radius: 20px;
    width: 45%;
    height: 100%;
}

/* SLIDER SECTION */
#slider, 
#best-gift {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 8px;
    width: 100%;
}

#slider-container,
#best-gift-container {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 90%;
    height: 500px;
}

#slider-title p,
#best-gift-title p,
#cta #cta-timer p {
    font-family: 'Allura';
    margin-bottom: 8px;
    font-size: 28px;
}

#slider-title h2,
#best-gift-title h2 {
    font-size: 32px;
    margin: 10px;
}

#row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    height: 200px;
    width: 100%;
    margin-top: 30px;
}

#row-slider {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.slider-img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
}

.slider-text {
    left: 10px;
    font-weight: 600;
    font-size: 16px;
    font-size: 80px;
    line-height: 98px;
    padding: 18px;
}

.one {
    background-image: url('./assets/snowman.png');
}

.two {
    background-image: url('./assets/christmas-trees.png');
}

.three {
    background-image: url('./assets/christmas-tree-ball.png');
} 
 
.four {
    background-image: url('./assets/fairytale-house.png');
} 

#slider-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    margin: 20px;
    gap: 20px;
    width: 100%;
    flex: none;
}

.slider-button {
    background-color: transparent;
    width: 56px;
    height: 56px;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    cursor: pointer;
}

.slider-button img {
    width: 24px;
    height: 24px;    
}

.slider-button:hover {
    background-color: #ffffff6e;
}

/* BEST GIFT */
#card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    padding: 0px;
    gap: 12px;
    width: 100%;
    height: 350px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 24%;
    height: 342px;
    background: #ECF3F8;
    border-radius: 20px;
}

.card-img {
    width: 100%;
    height: 70%;
    
}

.card-img-one,
.card-img-three {
    background: url(./assets/gift-for-work.png);
    background-size: cover;
    background-position: center;
}

.card-img-two {
    background: url(./assets/gift-for-health.png);
    background-size: cover;
    background-position: center;
}

.card-img-four {
    background: url(./assets/gift-for-harmony.png);
    background-size: cover;
    background-position: center;
}

.card-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 8px;
    width: 100%;
    height: 30%;
    background: #FFFFFF;
    border-radius: 20px;
}

h4, h3, h2 {
    margin: 0px;
    line-height: 152%;
    letter-spacing: 0.08em;
}

.card-name h4 {
    font-size: 11px;
}

.card-name h3 {
    font-size: 14px;
}

/* CTA SECTION STYLING */
#cta {
    background: url(./assets/bg-forest.png) no-repeat center bottom;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 8px;
    height: 750px;
    margin: 0 auto 0 auto;
}

#cta-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0px;
    margin: 50px auto 0 auto;
    gap: 20px;
    width: 426px;
    max-width: 426px;
    height: 428px;
}

#cta-container {
    line-height: 152%;
    letter-spacing: 0.16em;
}

#cta-timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 100%;
}

#timer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 8px 12px 12px;
    width: 100%;
    height: 72px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
}

.separator {
    width: 30px;
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    transform: rotate(-90deg);
}

/* FOOTER STYLING */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 8px;
    height: 500px;
    background: #FFFFFF;
}

#footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 90%;
    height: 400px;
}

#contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 12px;
    height: 200px;
    width: 100%;
}

#footer-container p {
    margin: 0;
}

#phone, #meet, #email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 12px;
    width: 30%;
    height: 200px;
    background: #ECF3F8;
    border-radius: 20px;
}

#phone img, #meet img, #email img {
    width: 100px;
    height: 100px;
}

#social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 30px;
    gap: 12px;
    width: 200px;
    height: 40px;
}

#footer-container p:nth-of-type(2){
    font-family: 'Allura';
    font-size: 24px;
}